
body{
    background-color: #282828;
    color: white;
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: fantasy;
    font-size: 30pt;
}

#gameText{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 3px solid #000000;
}

#playerInput{
    font-family: fantasy;
    text-align: center;
    width: 30%;
    font-size: 25pt;
    border-radius: 30px;
    border: 3px solid #000000
}

#submit {
    background-color: #707070;
    border-radius: 20px;
    font-family: fantasy;
    font-weight: bold;
    margin-top: 4%;
    font-size: 18pt;
    width: 20%;
    height: 8%;
}

#error {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

#infoText {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}